* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
        outline: none;
    }
}

html, body {
    height: 100%;
}

html {
    font-family: $font-main;
    font-size: $size-base;
    line-height: $line-height;
    color: $color-base;
    background: $background-base;
}

a:link,
a:visited {
    text-decoration: underline;
    color: $color-base
}

a:hover {
    color: $color-accent !important;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 1em;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    font-size: $size-small;
}

sup {
    top: -0.5em;
}

sub {
    top: 0.5em;
}