$grid-breakpoint: 650px;
$gutter-width: 2.0rem;
$col-1-width: 25%;
$col-2-width: 100% - 2*$col-1-width;
$col-ratio: percentage($col-1-width/$col-2-width);

.grid {
  &__col-1, &__col-2, &__col-3, &__col-alone {
    display: block;
  }
  
  &__col-1 {
    margin-bottom: $smallskip;
  }

  @media (min-width: $grid-breakpoint) {
    overflow: hidden;
    clear: left;
    
    &__col-1, &__col-2, &__col-3, &__col-alone {
      float: left;
    }

    &__col-1, &__col-3 {
      width: $col-1-width;
      margin-bottom: 0;
    }

    &__col-1 {
      padding-right: $gutter-width;
    }

    &__col-3 {
      padding-left: $gutter-width;
    }

    &__col-2, &__col-alone {
      width: $col-2-width;

      .alignleft {
        float: left;
        margin-left: -$col-ratio;
        margin-bottom: 0;
        width: calc(#{$col-ratio} - #{$gutter-width});
      }

      .banner {
        width: percentage((100% - $col-1-width)/$col-2-width);
        max-height: calc(100% - 4rem);
      }
    }

    &__col-alone {
      margin-left: $col-1-width;
    }
  }
}