$grid-breakpoint-1: 500px;
$grid-breakpoint-2: 700px;
$gutter-width: 3.0rem;
$col-1-width: 20%;
$col-2-width: 100% - 2 * $col-1-width;
$col-ratio: percentage($col-1-width/$col-2-width);
$col-ratio-alt: percentage($col-1-width/($col-1-width+$col-2-width));

.grid {
  &__col-1, &__col-2, &__col-alone {
    display: block;
  }
  
  &__col-1 {
    margin-bottom: $smallskip;
  }

  @media (min-width: $grid-breakpoint-1) {
    overflow: hidden;
    clear: left;
    
    &__col-1, &__col-2, &__col-alone {
      float: left;
    }

    &__col-1 {
      width: $col-1-width;
      margin-bottom: 0;
      padding-right: $gutter-width;
      text-align: right;
    }

    &__col-2, &__col-alone {
      width: 100% - $col-1-width;

      .alignleft {
        float: left;
        margin-left: -$col-ratio-alt;
        margin-bottom: 0;
        width: calc(#{$col-ratio-alt} - #{$gutter-width});
        text-align: right;
      }
    }

    &__col-alone {
      margin-left: $col-1-width;
    }
  }

  @media (min-width: $grid-breakpoint-2) {
    &__col-2, &__col-alone {
      width: $col-2-width;

      .banner {
        // width: percentage((100% - $col-1-width) / $col-2-width);
        width: percentage(100% / $col-2-width);
        margin-left: percentage(-$col-1-width / $col-2-width);
      }

      .alignleft {
        float: left;
        margin-left: -$col-ratio;
        margin-bottom: 0;
        width: calc(#{$col-ratio} - #{$gutter-width});
        text-align: right;
      }
    }
  }
}
