body.home {
    background-image: url(/images/2015-07-pier.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .site__header {
        border: none;
    }
}

