.wrap {
    max-width: 32rem;
    margin: 0 auto;
    position: relative;
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $background-base;
    z-index: 10;
}

.site-logo {
    display: block;
    text-align: right;
    padding: 1rem 0;
    border-bottom: 1px solid #e8e8e8;

    .first-name {
        font-size: 1.5em;
        line-height: .6;
    }

    .last-name {
        font-size: .75em;
        text-transform: uppercase;
    }
}

.site-main {
    padding: 6rem 0 4rem;
}

.page-header {
    text-align: center;
    margin-bottom: 2rem;
}

.page-date {
    display: block;
    margin-top: 0.5rem;
}
