p, blockquote, ul, ol, .environment {
    & + p, & + blockquote, & + .environment {
        margin-top: 10px;
    }
}

blockquote {
    font-style: italic;
    color: $color-light;
    text-align: right;
}

figure {
    img {
        max-width: 100%;
    }

    figcaption {
        font-size: $size-small;
        color: $color-light;
        text-align: center;
        margin-top: 5px;
    }
}

.wrap {
    width: $width;
    margin: 0 auto;
    position: relative;
}

.sec {
    margin: 40px 0;
}

nav {
    position: fixed;
    font-family: $mono;
    color: $color-light;
    font-size: $size-small;

    .name {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    li {
        margin-bottom: 10px;

        a:link, a:visited {
            color: $color-light;
        }

        &.active {
            a:link, a:visited {
                color: $color-base;
            }
        }
    }

    ul > ul {
        margin-left: 10px;
    }
}

header {
    h1 {
        font-size: $size-huge;
    }

    h2 {
        margin-top: 4px;
        color: $color-light;
    }
}

.stream li {
    margin-bottom: 20px;

    a {
        display: block;
        height: 100%;

        &:hover {
            .title {
                text-decoration: underline;
            }
        }
    }

    .date {
        display: block;
        margin-top: 4px;
        font-size: $size-medium;
        color: $color-light;
    }

    .desc {
        color: $color-light;
    }
}
