p, blockquote, ul, ol, .environment {
    & + p, & + blockquote, & + .environment {
        margin-top: 10px;
    }
}

blockquote {
    font-style: italic;
    color: $color-light;
    text-align: right;
}

figure {
    img {
        max-width: 100%;
    }

    figcaption {
        font-size: $size-medium;
        color: $color-light;
        text-align: center;
        margin-top: 8px;
    }
}

.side, .browse-bar, .main {
    position: absolute;
    top: 0;
    bottom: 0;
}

.side, .browse-bar {
    background: $background-dark;
}

.browse-bar {
    left: 0;
    width: $width-browse-bar;
    cursor: pointer;

    .browse {
        position: absolute;
        top: 50%;
        @include rotate(90deg);
    }

    &:hover .browse {
        color: $accent-light;
    }
}

.side, .main {
    padding-left: 20px;
}

.side {
    left: -$width-side;
    width: $width-side;
}

.main {
    left: $width-browse-bar;
    right: 0;
}

.section {
    &:first-child, & + .section {
        margin-top: 60px;
    }

    &:last-child {
        margin-bottom: 60px;
    }
}

.side-content {
    .nav li {
        font-size: 15px;
        display: inline;

        & + li {
            margin-left: 10px;
        }

        a:hover {
            color: $accent-light;
        }
    }
}

.entries li {
    line-height: $line-header;

    & + li {
        margin-top: 30px;
    }

    .date {
        float: left;
        padding-right: 8px;
        margin-top: 1px;
        font-size: $size-small;
        color: $color-light;
    }

    .link {
        display: block;
        overflow: hidden;

        &:hover .title {
            color: $accent-light;
        }
    }

    .title {
        margin-bottom: 5px;
    }

    .desc {
        font-size: $size-medium;
        color: $color-light;
    }
}


.main-content {
    width: $width-main;
    margin: 0 auto;

    header {
        h1 {
            font-size: $size-large;
            line-height: $line-header
        }

        h2 {
            margin-top: 8px;
            color: $color-light;
        }
    }

    .button {
        cursor: pointer;
    }

    .button, a:link, a:visited {
        color: $accent-light;
    }

    .button:hover, a:hover {
        text-decoration: underline;
    }
}

