.MathJax_Display {
  margin: $tinyskip 0 !important;

  & * {
    color: $color-base !important;
  }
}

.environment {
  margin-bottom: $smallskip;
  
  * + & {
    margin-top: $smallskip;
  }
  
  &__header {
    font-weight: 600;
    
    &, p, & + p {
      display: inline;
    }
  }
}

.enumerate {
  margin-bottom: $tinyskip;

  * + & {
    margin-top: $tinyskip;
  }
  
  &__label {
    float: left;
    padding-right: 0.5rem;
  }

  &__body {
    overflow: hidden;
  }

  &__header {
    font-style: italic;
  }
}

.preamble {
  display: none;
}
