.MathJax_Display {
  margin: $tinyskip 0 !important;

  & * {
    color: $color-base !important;
  }
}

.environment {
  margin-bottom: $smallskip;
  
  * + & {
    margin-top: $smallskip;
  }

  &__label {
    @extend .alignleft;
    color: $color-light;

    &, p {
      display: inline;
    }

    @media (max-width: $grid-breakpoint-1 - 1px) {
      p:after {
        content: ".";
      }
    }
    
    @media (min-width: $grid-breakpoint-1) {
      text-align: right;
      position: relative;
      z-index: -10;
    }
  }
  
  &__header {
    font-weight: 600;

    p {
      padding-right: 0.2rem;
    }
    
    &, p, & + p {
      display: inline;
    }
  }
}

.enumerate {
  margin-bottom: $tinyskip;

  * + & {
    margin-top: $tinyskip;
  }
  
  &__label {
    float: left;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: $color-light;
  }

  &__body {
    overflow: hidden;
  }

  &__header {
    font-style: italic;
  }
}

.preamble {
  display: none;
}
