.page {
  padding-bottom: 1.5 * $bigskip;
  
  h1 {
    font-weight: 700;
  }

  h2 {
    @extend %smcp;
  }

  h3 {
    font-style: italic;
  }
  
  &__header a {
    @extend %plain;
  }
  
  &__meta {
    @extend %meta;
  }
  
  &__time {
    display: block;
  }

  &__tags {
    @extend %meta;
    @extend %small;
    text-transform: lowercase;

    a {
      @extend %plain;
    }
      
    li {
      display: inline;
      margin-right: 0.3rem;
    }
  }
  
  &__content {
    h2,
    ul,
    ol,
    blockquote,
    figure {
      & + * {
        margin-top: $smallskip;
      }
    }

    h3,
    ul,
    ol {
      & + * {
        margin-top: $tinyskip;
      }
    }

    p + blockquote,
    p + figure {
      margin-top: $smallskip;
    }

    p + ul,
    p + ol {
      margin-top: $tinyskip;
    }

    p + p {
      text-indent: 1.25em;
    }

    li {
      ul,
      ol {
        margin-bottom: 0;
      }
    }

    figure {
      &, img {
        width: 100%;
      }

      figcaption {
        width: 75%;
        @extend %small;
        @extend %meta;
      }
    }

    blockquote {
      padding-left: 1.5rem;
      margin-left: 2px;
      border-left: 2px solid $background-accent;
    }
    
    * + h2,
    hr {
      margin-top: $medskip;
    }

    * + h3 {
      margin-top: $smallskip;
    }
  }

  &__pagination {
    margin-top: $medskip;

    a {
      @extend %plain;
    }
    
    .previous {
      float: left;
    }

    .next {
      float: right;
    }
  }
}

.text {
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    margin-left: 2.0rem;

    li {
      margin-bottom: $tinyskip;

      ul {
        list-style-type: circle;
      }

      ol {
        list-style-type: lower-roman;
      }

      ul, ol {
        li {
          margin-bottom: 0.1rem;
        }
      }
    }
  }
}

.ref, .footnote {
  @extend %meta;
  @extend %plain;
}

.footnote {
  padding: .2em;
}

.footnotes {
  &:before {
    content: '';
    display: block;
    background: $background-accent;
    height: 1px;
    width: 25%;
    margin-top: $medskip;
    margin-bottom: $smallskip;
  }

  ol {
    list-style-type: decimal;
    font-size: $size-small;
    line-height: $line-height-small;
  }
}