.page {
  h1 a {
    @extend %plain;
  }
  
  &__meta {
    @extend %meta;
  }
  
  &__time {
    display: block;
    margin-top: $smallskip;
  }

  &__tags {
    margin-top: $medskip;

    a {
      @extend %plain;
    }
  }
  
  &__content {
    padding-bottom: 1.5 * $bigskip;

    h2,
    ul,
    ol,
    blockquote,
    figure,
    .environment {
      & + * {
        margin-top: $smallskip;
      }
    }

    p + ul,
    p + ol,
    p + blockquote,
    p + figure,
    p + .environment, {
      margin-top: $smallskip;
    }

    p + p {
      text-indent: 1.2em;
    }

    li {
      ul,
      ol {
        margin-bottom: 0;
      }
    }

    figure {
      &, img {
        width: 100%;
      }

      figcaption {
        width: 75%;
        @extend %small;
        @extend %meta;
      }
    }

    blockquote {
      border-left: 2px solid $background-accent;
      margin-left: 2px;
      padding-left: 1.5rem;
    }
    
    * + h2,
    hr {
      padding-top: $medskip;
    }
  }

  &__pagination {
    margin-top: $medskip;

    a {
      @extend %plain;
    }
    
    .previous {
      float: left;
    }

    .next {
      float: right;
    }
  }
}

.text {
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    margin-left: 1.5rem;

    li {
      margin-bottom: 0.3rem;

      ul {
        list-style-type: circle;
      }

      ol {
        list-style-type: lower-roman;
      }

      ul, ol {
        li {
          margin-bottom: 0.1rem;
        }
      }
    }
  }
}

.ref, .footnote {
  @extend %meta;
  @extend %plain;
}

.footnote {
  padding: .2em;
}

.footnotes {
  &:before {
    content: '';
    display: block;
    background: $background-accent;
    height: 1px;
    width: 75px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ol {
    list-style-type: decimal;
    margin-left: 20px;
    font-size: $size-small;
    line-height: $line-height-small;
  }
}