.page {
  &__time {
    display: block;
    margin-top: $smallskip;
  }

  &__tags {
    margin-top: $medskip;

    a {
      @extend %light-link;
      @extend .plain;
    }
  }
  
  &__content {
    padding-bottom: 1.5 * $bigskip;

    h2,
    ul,
    ol,
    blockquote,
    figure,
    .environment {
      & + * {
        margin-top: $smallskip;
      }
    }

    p + ul,
    p + ol,
    p + blockquote,
    p + figure,
    p + .environment, {
      margin-top: $smallskip;
    }

    p + p {
      text-indent: 1.2em;
    }

    li {
      ul,
      ol {
        margin-bottom: 0;
      }
    }

    figure {
      &, img {
        width: 100%;
      }

      figcaption {
        width: 75%;
        @extend .small;
        @extend .meta;
      }
    }

    blockquote {
      border-left: 2px solid $background-accent;
      margin-left: 2px;
      padding-left: 1.5rem;
    }
    
    * + h2,
    hr {
      padding-top: $medskip;
    }
  }
}

.entrylist {
  a {
    @extend .plain;
  }
  
  li {
    margin-bottom: $smallskip;
    position: relative;
  }

  &__title {
    display: block;
  }

  &__meta {
    display: table;
  }

  &__desc {
    display: table-cell;
    width: 100%;
  }

  &__tags {
    a {
      @extend %light-link;
    }
    
    &, li {
      display: inline;
      margin-right: 0.2rem;
    }
  }
  
  &__time, &__progress {
    display: table-cell;
  }

  &__time {
    white-space: nowrap;
    padding-left: 2.0rem;
  }

  &__progress {
    width: 5rem;
    height: 0.2rem;
    box-shadow: 0 0 0 1px $color-progress;
    border-radius: 5px;

    &::-webkit-progress-bar {
      background: $background-progress;
    }

    &::-webkit-progress-value {
      background: $color-progress;
    }
  }
}

.text {
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    margin-left: 1.5rem;

    li {
      margin-bottom: 0.3rem;

      ul {
        list-style-type: circle;
      }

      ol {
        list-style-type: lower-roman;
      }

      ul, ol {
        li {
          margin-bottom: 0.1rem;
        }
      }
    }
  }
}

.MathJax_Display {
    margin: $smallskip rem 0 !important;

    & * {
      color: $color-base !important;
    }
}

.environment {
    .environment_label {
      float: left;
    }

    .environment_body {
        overflow: hidden;
    }

    .environment_header {
      font-weight: 600;
      
      &, p, & + p {
        display: inline;
      }
    }

    &.priority-2 {
        & > .environment_label {
            padding-right: 8px;
        }

        & > .environment_body .environment_header {
            font-style: italic;
        }
    }
}

.preamble {
    display: none;
}

.ref, .footnote {
  @extend %light-link;
  @extend .plain;
}

.footnote {
  padding: .2em;
}

.footnotes {
    &:before {
        content: '';
        display: block;
        background: $background-accent;
        height: 1px;
        width: 75px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ol {
        list-style-type: decimal;
        margin-left: 20px;
        font-size: $size-small;
        line-height: $line-height-small;
    }
}