%wrap {
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}

.site {
  @extend %wrap;
}

.section {
  padding-top: $bigskip;
}

.site__header {
  margin-top: $medskip;
}

.site__nav {
  a {
    @extend .plain;
  }

  ul a {
    @extend %light-link;
  }

  ul li {
    display: inline;
    margin-right: 1.0rem;
  }
}

.site__footer {
  padding-bottom: $bigskip;
  @extend .small;
  @extend .meta;

  a {
    @extend %light-link;
  }
}

.small {
  font-size: $size-small;
  line-height: $line-height-small;
}

.meta, time {
  color: $color-light;
}
