%wrap {
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}

.site {
  @extend %wrap;

  &__nav {
    a {
      // @extend %plain;
    }

    ul {
      @extend %meta;
    }

    ul li {
      margin-bottom: $tinyskip;
    
      @media (max-width: $grid-breakpoint-1) {
        display: inline;
        margin-right: 1.0rem;
        margin-bottom: 0;
      }
    }
  }

  &__header {
    padding-top: $medskip;
    padding-bottom: $smallskip;
    border-bottom: 1px solid $background-accent;
  }

  &__content {
    padding-top: $smallskip;
  }
  
  &__footer {
    padding-bottom: $bigskip;
    @extend %small;
    @extend %meta;
  }
}

.nav__pages {
  &, a {
    @extend %meta;
  }
  
  li {
    display: inline;
    margin-right: 0.2rem;

    & + li:before {
      padding-right: 0.4rem;
      content: "/";
    }
  }
}

