$font-main: ff-meta-serif-web-pro, serif;
$font-main-sc: ff-meta-serif-sc-web-pro, sans-serif;

$size-base: (15/16)*100%;
$size-small: .9em;
$size-large: 1.1em;

$line-height: 1.5;

$background-base: #ffffff;
$background-accent: #cccccc;
$color-base: #444444;
$color-light: #777777;
$color-accent: #337733;

$site-width: 28rem;
$site-pad: 2.0rem;
