$font-main: utopia-std, serif;

$size-base: (16/16)*100%;
$size-small: .9em;

$line-height: 1.55;
$line-height-unit: $line-height * 1rem;
$line-height-small: 1.45;

$background-base: #ffffff;
$background-accent: #cccccc;

$color-base: #333333;
$color-light: #777777;
$color-accent: #dd6622;

$background-progress: #dddddd;
$color-progress: #888888;

$tinyskip: 0.25 * $line-height-unit;
$smallskip: 0.5 * $line-height-unit;
$medskip: 1 * $line-height-unit;
$bigskip: 1.5 * $line-height-unit;
