@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
}
*:focus {
  outline: none;
}

html, body {
  height: 100%;
}

html {
  font-family: "Computer Modern Sans", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  color: #000201;
  background: #fffeff;
}
@media (min-device-pixel-ratio: 2) {
  html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
}

button {
  font: inherit;
  color: inherit;
  background: inherit;
}

a:link, a:visited {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #d0d0e0;
  color: inherit;
}
a.active:not(:hover):link, a.active:not(:hover):visited {
  color: #000201;
}

.site {
  max-width: 38.5rem;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 4.5rem;
  padding-right: 2rem;
  margin: 0 auto;
  position: relative;
}

.site--header {
  position: absolute;
  top: 23ex;
  left: -6rem;
  transform: rotate(-90deg);
  font-family: "Computer Modern Sans", sans-serif;
  color: #959291;
}

.site--home .home--text {
  margin-top: 1.25rem;
  max-width: 36rem;
  text-align: justify;
  overflow-wrap: break-word;
}
.site--home .home--text p + p {
  text-indent: 1.5em;
  margin-top: 0.3125rem;
}
.site--home .home--text .at-pad {
  margin-left: -0.25em;
}
.site--content h1 {
  font-weight: 700;
}
.site--content h2 {
  font-style: italic;
}
.site--content date {
  font-family: "Computer Modern Sans", sans-serif;
  color: #606270;
  font-size: 12px;
  display: block;
  margin-top: 2.5rem;
}
.site--content hr {
  margin-bottom: 2.5rem;
}
.site--content figure {
  margin: 1.875rem 0;
}
.site--content img {
  max-width: 100%;
}
.site--content figcaption {
  margin-top: 0.3125rem;
  color: #606270;
  text-align: center;
}

.work-section {
  max-width: 36rem;
  margin-bottom: 2.5rem;
}
.work-section h1 {
  margin-bottom: 0.625rem;
}
.work-section h2 {
  display: inline-block;
}
.work-section h2::after {
  content: ": ";
  font-style: normal;
}
.work-section h2 + p {
  display: inline;
}
.work-section h2 + p::after {
  content: "\a";
  display: block;
}
.work-section * + h2 {
  margin-top: 0.3125rem;
}

.work-entry {
  margin-bottom: 0.625rem;
}
.work-entry--desc, .work-entry--meta {
  font-size: 12px;
  color: #606270;
  line-height: 1.2;
  margin-top: 0.3125rem;
}

.mute {
  color: #606270;
}

.hide {
  display: none !important;
}

.post {
  margin-bottom: 0.625rem;
}
.post--main {
  display: flex;
}
.post--title {
  flex-grow: 1;
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #d0d0e0;
  cursor: pointer;
  text-align: left;
}
.post--content {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.post--meta {
  flex-shrink: 0;
  margin-left: 1rem;
  text-align: right;
  font-family: "Computer Modern Sans", sans-serif;
  font-size: 12px;
  padding-top: 3px;
}

.course--header {
  margin-bottom: 1.25rem;
}
.course--meta {
  font-family: "Computer Modern Sans", sans-serif;
  font-size: 12px;
  color: #606270;
}
.course h2 {
  display: inline-block;
}
.course h2::after {
  content: ": ";
  font-style: normal;
}
.course h2 + p {
  display: inline;
}
.course h2 + p::after {
  content: "\a";
  display: block;
}
.course * + h2 {
  margin-top: 0.3125rem;
}
.course ul li, .course details {
  margin-top: 0.125rem;
}
.course ul li::before {
  content: "–";
  padding: 0rem 0.5rem;
}
.course details > summary {
  cursor: pointer;
}
.course details > summary::marker {
  content: none;
}
.course details > summary::before {
  content: "+";
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.3rem;
}
.course details > summary .subject {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #d0d0e0;
}
.course details[open] > summary::before {
  transform: rotate(45deg);
}
.course details p {
  color: #606270;
  padding-left: 2.6rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
.course details p + p {
  text-indent: 1.5em;
}
.course * + table {
  margin-top: 1.25rem;
}
.course table {
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.course th, .course td {
  border-right: 1px solid #d0d0e0;
  padding: 0.25ex 0.5rem;
}
.course th:first-child, .course td:first-child {
  border-left: 1px solid #d0d0e0;
}
.course th:nth-child(2), .course td:nth-child(2) {
  width: 4.2rem;
}
.course th {
  font-weight: 400;
  font-variant: small-caps;
  text-transform: lowercase;
  border-top: 1px solid #d0d0e0;
  border-bottom: 1px solid #d0d0e0;
}
.course td {
  border-bottom: 1px solid #d0d0e0;
}

.photo figure {
  max-width: 550px;
}

.poem .post--content, .prose .post--content {
  max-width: 36rem;
}
.poem h2, .prose h2 {
  margin-bottom: 0.625rem;
}
.poem p + h2, .prose p + h2 {
  margin-top: 1.25rem;
}

.poem p + p {
  margin-top: 0.625rem;
}

.prose p + p {
  text-indent: 1.5em;
  margin-top: 0.3125rem;
}
.prose blockquote {
  margin-left: 2rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.video iframe + p {
  margin-top: 1.25rem;
}
.video iframe {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
