* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility; }
  *:focus {
    outline: none; }

html, body {
  height: 100%; }

html {
  font-family: adobe-text-pro, serif;
  font-size: 100%;
  line-height: 1.4;
  color: #222222;
  background: #ffffff; }
  @media (min-device-pixel-ratio: 2) {
    html {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto; } }
  @media (max-width: 860px) {
    html {
      font-size: 90%; } }
  @media (max-width: 500px) {
    html {
      font-size: 80%; } }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 1em; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.9em; }

sup {
  top: -0.5em; }

sub {
  top: 0.5em; }

.site__footer, .page__content figure figcaption, .entrylist__meta {
  font-size: 0.9em;
  line-height: 1.3; }

.site__nav ul, .site__footer, .page__meta, .page__content figure figcaption, .ref, .footnote, .entrylist__meta {
  color: #777777; }

a:link, a:visited {
  text-decoration: underline;
  color: inherit; }
a:hover {
  color: #dd6622; }
.site__nav a:link, .page__header a:link, .page__tags a:link, .page__pagination a:link, a.ref:link, a.footnote:link, .entrylist a:link, .site__nav a:visited, .page__header a:visited, .page__tags a:visited, .page__pagination a:visited, a.ref:visited, a.footnote:visited, .entrylist a:visited {
  text-decoration: none; }
a.site__footer:not(:hover):link, a.page__meta:not(:hover):link, a.ref:not(:hover):link, a.footnote:not(:hover):link, a.entrylist__meta:not(:hover):link, a.site__footer:not(:hover):visited, a.page__meta:not(:hover):visited, a.ref:not(:hover):visited, a.footnote:not(:hover):visited, a.entrylist__meta:not(:hover):visited {
  color: #777777; }
a.active:not(:hover):link, a.active:not(:hover):visited {
  color: #222222; }

.grid__col-1, .grid__col-2, .grid__col-3, .grid__col-alone {
  display: block; }
.grid__col-1 {
  margin-bottom: 0.7rem; }
@media (min-width: 650px) {
  .grid {
    overflow: hidden;
    clear: left; }
    .grid__col-1, .grid__col-2, .grid__col-3, .grid__col-alone {
      float: left; }
    .grid__col-1, .grid__col-3 {
      width: 25%;
      margin-bottom: 0; }
    .grid__col-1 {
      padding-right: 2rem; }
    .grid__col-3 {
      padding-left: 2rem; }
    .grid__col-2, .grid__col-alone {
      width: 50%; }
      .grid__col-2 .alignleft, .grid__col-alone .alignleft {
        float: left;
        margin-left: -50%;
        margin-bottom: 0;
        width: calc(50% - 2rem); }
      .grid__col-2 .banner, .grid__col-alone .banner {
        width: 150%;
        max-height: calc(100% - 4rem); }
    .grid__col-alone {
      margin-left: 25%; } }

.site {
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative; }

.site__header {
  padding-top: 1.4rem; }
.site__nav ul li {
  display: inline;
  margin-right: 1.0rem; }
.site__footer {
  padding-bottom: 2.8rem; }

.section {
  padding-top: 2.8rem; }

.page__time {
  display: block;
  margin-top: 0.7rem; }
.page__tags {
  margin-top: 0.7rem; }
  @media (max-width: 649px) {
    .page__tags {
      margin-bottom: 1.4rem; }
      .page__tags li {
        display: inline;
        margin-right: 0.2rem; } }
.page__content {
  padding-bottom: 4.2rem; }
  .page__content h2 + *,
  .page__content ul + *,
  .page__content ol + *,
  .page__content blockquote + *,
  .page__content figure + * {
    margin-top: 0.7rem; }
  .page__content ul + *,
  .page__content ol + * {
    margin-top: 0.35rem; }
  .page__content p + blockquote,
  .page__content p + figure {
    margin-top: 0.7rem; }
  .page__content p + ul,
  .page__content p + ol {
    margin-top: 0.35rem; }
  .page__content p + p {
    text-indent: 1.25em; }
  .page__content li ul,
  .page__content li ol {
    margin-bottom: 0; }
  .page__content figure, .page__content figure img {
    width: 100%; }
  .page__content figure figcaption {
    width: 75%; }
  .page__content blockquote {
    border-left: 2px solid #bbbbbb;
    margin-left: 2px;
    padding-left: 1.5rem; }
  .page__content * + h2,
  .page__content hr {
    margin-top: 1.4rem; }
.page__pagination {
  margin-top: 1.4rem; }
  .page__pagination .previous {
    float: left; }
  .page__pagination .next {
    float: right; }

.text ul {
  list-style-type: disc; }
.text ol {
  list-style-type: decimal; }
.text ul, .text ol {
  margin-left: 1.5rem; }
  .text ul li, .text ol li {
    margin-bottom: 0.35rem; }
    .text ul li ul, .text ol li ul {
      list-style-type: circle; }
    .text ul li ol, .text ol li ol {
      list-style-type: lower-roman; }
    .text ul li ul li, .text ul li ol li, .text ol li ul li, .text ol li ol li {
      margin-bottom: 0.1rem; }

.footnote {
  padding: .2em; }

.footnotes:before {
  content: '';
  display: block;
  background: #bbbbbb;
  height: 1px;
  width: 75px;
  margin-top: 30px;
  margin-bottom: 10px; }
.footnotes ol {
  list-style-type: decimal;
  margin-left: 20px;
  font-size: 0.9em;
  line-height: 1.3; }

.MathJax_Display {
  margin: 0.35rem 0 !important; }
  .MathJax_Display * {
    color: #222222 !important; }

.environment {
  margin-bottom: 0.7rem; }
  * + .environment {
    margin-top: 0.7rem; }
  .environment__header {
    font-weight: 600; }
    .environment__header, .environment__header p, .environment__header + p {
      display: inline; }

.enumerate {
  margin-bottom: 0.35rem; }
  * + .enumerate {
    margin-top: 0.35rem; }
  .enumerate__label {
    float: left;
    padding-right: 0.5rem; }
  .enumerate__body {
    overflow: hidden; }
  .enumerate__header {
    font-style: italic; }

.preamble {
  display: none; }

.entrylist li {
  margin-bottom: 0.7rem;
  position: relative; }
.entrylist__title {
  display: block; }
.entrylist__meta {
  display: table; }
.entrylist__desc, .entrylist__time {
  display: table-cell; }
.entrylist__desc {
  width: 100%; }
.entrylist__tags, .entrylist__tags li {
  display: inline;
  margin-right: 0.2rem; }
.entrylist__time {
  white-space: nowrap;
  padding-left: 2.0rem; }

/*# sourceMappingURL=style.css.map */
