* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:focus {
    outline: none; }

html {
  font-family: "calluna", serif;
  font-size: 14px;
  color: #302825;
  background: #fcfcfa; }

body {
  overflow-y: scroll; }

a:link, a:visited {
  text-decoration: none;
  color: #302825; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 14px; }

sup, sub {
  vertical-align: baseline;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  top: 0.5em; }

p + p, p + blockquote, p + .environment, blockquote + p, blockquote + blockquote, blockquote + .environment, ul + p, ul + blockquote, ul + .environment, ol + p, ol + blockquote, ol + .environment, .environment + p, .environment + blockquote, .environment + .environment {
  margin-top: 10px; }

blockquote {
  font-family: "freight-sans-pro", sans-serif;
  color: #706865;
  text-align: right; }

figure img {
  max-width: 100%; }
figure figcaption {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 13px;
  color: #706865;
  text-align: center;
  margin-top: 5px; }

.wrap {
  position: relative;
  width: 450px;
  margin: 30px auto; }

nav {
  height: 20px;
  border-bottom: 1px solid #c0b8b5;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 13px;
  color: #706865;
  text-transform: uppercase; }
  nav li {
    display: inline;
    float: right;
    margin-left: 15px;
    height: 20px; }
    nav li a:link, nav li a:visited {
      color: #706865; }
    nav li.active {
      border-bottom: 1pt solid #706865; }
      nav li.active a:link, nav li.active a:visited {
        color: #302825; }

header h1 {
  font-size: 21px; }
header h2 {
  margin-top: 2px;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 14px;
  color: #706865; }

.stream li {
  margin-bottom: 15px;
  width: 300px; }
  .stream li .desc, .stream li .date {
    font-family: "freight-sans-pro", sans-serif; }
  .stream li .date {
    color: #706865;
    font-size: 13px;
    width: 80px;
    float: left; }
  .stream li .title {
    display: block;
    margin-left: 80px; }
  .stream li .desc {
    font-size: 14px;
    display: none;
    position: absolute;
    left: 315px;
    width: 135px; }

.text {
  line-height: 1.4em; }
  .text a:link, .text a:visited {
    text-decoration: underline;
    color: #100805; }
  .text ul, .text ol {
    margin-left: 35px; }
    .text ul li, .text ol li {
      margin-top: 5px; }
  .text ol {
    list-style-type: lower-roman; }
  .text ul li {
    text-indent: -13px; }
    .text ul li:before {
      content: "\2014";
      position: relative;
      left: -10px; }
  .text h4 {
    font-size: 15px;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 10px; }
    * + .text h4 {
      margin-top: 20px; }
  .text h6 {
    font-weight: bold; }
    .text h6:after {
      content: '.\00a0'; }
    .text h6, .text h6 + p {
      display: inline; }
  .text hr {
    width: 15%;
    height: 1px;
    margin: 20px auto;
    border: 0;
    background: #c0b8b5; }

.MathJax_Display {
  margin: 8px 0 !important; }
  .MathJax_Display * {
    color: #302825 !important; }

.environment {
  position: relative;
  margin-left: 10px; }
  .environment:before {
    content: '';
    width: 1px;
    height: calc(100% - 8px);
    background: #c0b8b5;
    position: absolute;
    left: -10px;
    top: 4px; }

.preamble {
  display: none; }

.footnotes:before {
  content: '';
  display: block;
  background: #c0b8b5;
  height: 1px;
  width: 80px;
  margin-top: 30px;
  margin-bottom: 10px; }
.footnotes ol {
  list-style-type: decimal;
  margin-left: 15px;
  font-size: 13px;
  line-height: 1.3em; }

.playlist {
  list-style-type: none; }
  .playlist.start {
    counter-reset: song; }
  .playlist li {
    margin-bottom: 20px;
    line-height: 1.2em;
    position: relative; }
    .playlist li:before {
      font-family: "freight-sans-pro", sans-serif;
      content: counter(song);
      counter-increment: song;
      position: absolute;
      top: 1.2em; }
  .playlist.left {
    float: left;
    margin-left: 30px; }
    .playlist.left li:before {
      left: -29px; }
  .playlist.right {
    float: right;
    margin-right: 30px;
    text-align: right; }
    .playlist.right li:before {
      right: -29px; }

.song-meta {
  font-family: "freight-sans-pro", sans-serif;
  color: #706865; }

.spotify iframe {
  width: 100%;
  height: 80px; }
