* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:focus {
    outline: none; }

html {
  font-family: "freight-text-pro", serif;
  font-size: 90%;
  color: #303540; }

a:link, a:visited {
  color: #000510; }

p {
  margin-bottom: 10px; }

ul {
  list-style: none; }

h1, h2, h3 {
  font-weight: normal;
  font-size: 1rem; }

header {
  font-family: "freight-sans-pro", sans-serif;
  text-align: center;
  margin: 40px auto;
  width: 300px; }
  header h1 {
    font-size: 1.2rem;
    text-transform: uppercase; }
  header h3 {
    color: #808590;
    margin-top: 5px; }

footer {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 0.9rem;
  margin: 40px auto;
  width: 450px;
  text-align: right; }

section {
  position: relative;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 40px; }
  section h1 {
    text-align: center;
    border-top: 1px solid #c0c5d0;
    margin-bottom: 5px; }
  section .title {
    font-size: 1.1rem;
    font-style: italic;
    color: #808590;
    position: relative;
    top: -12px;
    background: #ffffff;
    padding: 0 10px; }

.text {
  line-height: 1.3em;
  text-align: justify; }
  .text ul, .text ol {
    margin: 10px 0 10px 35px; }
  .text ul li {
    margin-bottom: 5px;
    text-indent: -13px; }
    .text ul li:before {
      content: "\2014";
      position: relative;
      left: -10px; }

.stream li {
  margin-bottom: 15px; }
  .stream li .date {
    font-family: "freight-sans-pro", sans-serif;
    color: #808590; }

.grothendieck {
  float: right;
  font-family: "freight-sans-pro", sans-serif;
  text-align: right;
  color: #808590; }

.playlist {
  list-style-type: none; }
  .playlist.start {
    counter-reset: song; }
  .playlist li {
    margin-bottom: 20px;
    line-height: 1.2em;
    position: relative; }
    .playlist li:before {
      font-family: "freight-sans-pro", sans-serif;
      content: counter(song);
      counter-increment: song;
      position: absolute;
      top: 1.2em; }
  .playlist.left {
    float: left;
    margin-left: 30px; }
    .playlist.left li:before {
      left: -29px; }
  .playlist.right {
    float: right;
    margin-right: 30px;
    text-align: right; }
    .playlist.right li:before {
      right: -29px; }

.song-name {
  font-style: italic; }

.song-meta {
  font-family: "freight-sans-pro", sans-serif;
  color: #808590; }

.spotify {
  width: 100%;
  height: 80px; }

.clear {
  clear: both; }
