<li>
  {% if e.url %}<a href="{{ e.url }}" class="entrylist__title">{% endif %}
    {{ e.title }}
    {% if e.url %}</a>{% endif%}
  <div class="entrylist__meta">
    <div class="entrylist__desc">
      {% if e.desc %}
      <p>{{ e.desc }}</p>
      {% endif %}

      {% assign tag_limit = 6 %}
      {% if e.tags.size > 0 %}
      <ul class="entrylist__tags">
        {% for tag in e.tags limit:tag_limit %}
        {% if tag != page.tag %}
        <li><a href="/tag/{{ tag | replace: ' ', '-' }}">#{{ tag | replace: ' ', '-' }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% if e.tags.size > tag_limit %}...{% endif %}
      {% endif %}
    </div>

    {% if e.date %}
    <time pubdate datetime="{{ e.date }}" class="entrylist__time">
      {{ e.date | date: '%d %b %Y' }}
    </time>
    {% endif %}
  </div>
</li>

