<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.name }}"/>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="RSS">

    <script type="text/javascript" src="//use.typekit.net/cen6cew.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/Hyphenator.js"></script>

    {% if page.math %}
    <script type="text/javascript" src="http://beta.mathjax.org/mathjax/latest/MathJax.js?config={{ site.baseurl }}/js/jax-config.js"></script>
    {% endif %}

    <script type="text/javascript" src="/js/j.js"></script>
  </head>

  <body{% if page.math %} class="math"{% endif %}>
    <div class="wrap grid">
      <div class="col col-1-4">
        <nav class="sec">
          <ul>
            <li class="name{% if page.section == "about" %} active{% endif %}"><a href="/">Arpon Raksit</a></li>
            <li{% if page.section == "posts" %} class="active"{% endif %}>
              <a href="/posts/">posts</a></li>
            <ul>
              <li{% if page.section == "math" %} class="active"{% endif %}>
                <a href="/posts/math/">math</a></li>
              <li{% if page.section == "writing" %} class="active"{% endif %}>
                <a href="/posts/writing/">writing</a></li>
            </ul>
            <li{% if page.section == "notes" %} class="active"{% endif %}>
              <a href="/notes/">notes</a></li>
          </ul>
        </nav>
      </div>

      <div class="col col-3-4">
        {% if page.title or page.date %}
        <header class="sec">
          {% if page.title %}
          <h1>{{ page.title }}</h1>
          {% endif %}
          {% if page.date %}
          <h2>{{ page.date | date_to_string }}</h2>
          {% endif %}
        </header>
        {% endif %}
