{% include header.html %}

<main class="wrap site__content" role="main">
  <article class="page">
    <div class="grid section page__content">
      <div class="grid__col-alone">
        {% if page.subsections %}
        {% for s in page.subsections %}
        {% assign entries = s.entries %}
        <h2>{{ s.title }}</h2>
        {% include entrylist.html %}
        {% endfor %}

        {% else %}
        {% assign entries = page.entries %}
        {% include entrylist.html %}

        {% endif %}
      </div>
    </div>
  </article>
</main>

{% include footer.html %}
