---
layout: base
---

<main class="site__content" role="main">
  <article class="page grid section">
    
    <header class="page__header grid__col-1">
      <h1>{{ page.title }}</h1>
    </header>
    
    <div class="page__content grid__col-2">
      {% if paginator.page == 1 %}
      
      {% if page.tag == "reading" %}
      I also keep a <a href="/reading-list">reading list</a>.

      {% else %}
      {{ content }}

      {% endif %}

      <h2>Recent posts</h2>
      {% endif %}
      
      <ul class="entrylist">        
        {% for e in paginator.posts %}
        {% include entrylist.html %}        
        {% endfor %}
      </ul>

      <div class="page__pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&#8592;</a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&rarr;</a>
        {% endif %}
      </div>
    </div>
      
  </article>
</main>

