{% include header.html %}

    {% if page.banner_url %}
    <figure class="sec">
      <img src="/images/{{ page.banner_url }}" alt="{{ page.banner_alt }}">
      <figcaption>
        {{ page.banner_cap }}
      </figcaption>
    </figure>
    {% endif %}

    <section class="sec text">
      {% if page.preamble %}
      <div class="preamble">
        $$
        {% for cmd in page.preamble %}
        \newcommand{ \{{ cmd[0] }} }{% if cmd[1] > 0 %}[ {{ cmd[1] }} ]{% endif %}{ {{ cmd[2] }} }
        {% endfor %}
        $$
      </div>
      {% endif %}
      {{ content }}
    </section>

{% include footer.html %}
